package ${package}.${moduleName}.domain;

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.extension.activerecord.Model;
import com.baomidou.mybatisplus.annotation.Version;
import lombok.Data;
import lombok.EqualsAndHashCode;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.time.LocalDateTime;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@TableName("${tableName}")
public class ${className} extends Model<${className}> {

    private static final long serialVersionUID = 1L;
#foreach ($column in $columns)

    /**
     * $column.comments
     */
#if($column.columnName == $pk.columnName)
    @TableId(type = IdType.ASSIGN_ID)
#end
#if($column.columnName=='version')
    @Version
#end
    private $column.attrType $column.lowerAttrName;
#end

}
