package ${package.Controller};

import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${package.Entity}.${entity};
import ${package.Service}.${table.serviceName};
import ${package.Other}.${table.entityName}AddReqVo;
import ${package.Other}.${table.entityName}QueryVo;
import ${package.Other}.${table.entityName}RespVo;
import com.demo.xyz.common.core.R;
import lombok.AllArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.BeanUtils;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.RestController;

import java.util.ArrayList;
import java.util.List;

/**
 * $!{table.comment}controller
 *
 * @author ${author}
 * @since ${date}
 */
@Slf4j
@RestController
@AllArgsConstructor
@RequestMapping("/v1/${table.entityPath}")
public class ${table.controllerName} {
    private final ${table.serviceName} ${table.entityPath}Service;

    /**
     * 简单分页查询
     * @param page 分页对象
     * @param vo
     * @return R
     */
    @GetMapping("/listByQuery")
    public R<Page<${entity}RespVo>> listByQuery(Page page, ${entity}QueryVo vo) {
        Page response = ${table.entityPath}Service.page(page, createQueryWrapper(vo));
        List<${entity}RespVo> respVos = new ArrayList<>();
        response.getRecords().forEach(t -> {
            ${entity}RespVo respVo = new ${entity}RespVo();
            BeanUtils.copyProperties(t,respVo);
            respVos.add(respVo);
        });
        response.setRecords(respVos);
        return new R<>(response);
    }

    /**
     * 通过id查询记录
     * @param id
     * @return R
     */
    @GetMapping("/getById")
    public R<${entity}RespVo> getById(@RequestParam("id") Integer id) {
        ${entity} ${table.entityPath} = ${table.entityPath}Service.getById(id);
        if(${table.entityPath} == null){
            return new R<>();
        }
        ${entity}RespVo respVo = new ${entity}RespVo();
        return new R<>(respVo);
    }

    /**
     * 新增记录
     * @param vo
     * @return R
     */
    @PostMapping("/add")
    public R add(@RequestBody ${entity}AddReqVo vo) {
        ${entity} ${table.entityPath} = new ${entity}();
        BeanUtils.copyProperties(vo,${table.entityPath});
        return new R<>(${table.entityPath}Service.saveOrUpdate(${table.entityPath}));
    }

    /**
     * 修改记录
     * @param vo
     * @return R
     */
    @PutMapping("/updateById")
    public R updateById(@RequestBody ${entity}AddReqVo vo) {
        ${entity} ${table.entityPath} = new ${entity}();
        BeanUtils.copyProperties(vo,${table.entityPath});
        return new R<>(${table.entityPath}Service.saveOrUpdate(${table.entityPath}));
    }

    /**
     * 通过id删除一条记录
     * @param id
     * @return R
     */
    @DeleteMapping("/deleteById")
    public R deleteById(@RequestParam("id") Integer id) {
        return new R<>(${table.entityPath}Service.removeById(id));
    }

    /**
     * 处理查询参数
     * @param vo
     * @return
     */
    public LambdaQueryWrapper createQueryWrapper(${entity}QueryVo vo){
        LambdaQueryWrapper<${entity}> queryWrapper = new LambdaQueryWrapper();
        if(vo.getId() != null){
            queryWrapper.eq(${entity}::getId,vo.getId());
        }
        return queryWrapper;
    }
}